body, html{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.topLink{
    color: #48E5C2;
}
.bodyLink{
    color: black;
}
.parallax {
    background-image: url('images/mypage.jpeg');
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    opacity: 0.85;
}
.projBtn{
    background-color: #ff0044;
    color: white;
}

@media only screen and (min-width: 480px){
    .outerDiv{
        width: 80%;
        padding-top: 30px;
        min-height: 100vh;
    }
    .myInfo{
        display: inline-block;
        width: 45%;
    }
    .baseInfo{
        width: 90%;
    }
    .contactNav{
        width: 40%;
        margin-right: 5px;
        display: inline-block;
    }
    .formNav{
        width: 55%;
        display: inline-block;
    }
    .subBtn{
        position: absolute;
        left: 75%;
    }
    .d-inline img{
        width: 132px;
        margin: 0%;
    }
    .project{
        display: inline-block;
        width: 50%;
        margin-right: 20px;
    }
    .project img{
        width: 100%;
        height: 320px;
    }
    .summary{
        display: inline-block;
        width: 45%;
    }
}
@media only screen and (max-width: 820px) {
    .parallax {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
    }
    .outerDiv{
        width: 100%;
        min-height: 100vh;
    }
    .myInfo{
        display: block;
        width: 100%;
    }
    .baseInfo{
        width: 100%;
    }
    .contactNav{
        width: 100%;
        display: block;
    }
    .formNav{
        width: 100%;
        display: block;
    }
    .subBtn{
        position: absolute;
        left: 70%;
    }
    .d-inline img{
        width: 52px;
        margin: 0%;
    }
    .project{
        width: 100%;
        height: 230px;
    }
    .project img{
        width: 100%;
        height: 220px;
    }
    .summary{
        width: 100%;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 480px){
    .parallax{
        height: 400px;
        background-size: 500px 400px;
        background-position: top;
    }
}
